streamlit
langchain
langgraph
sentence-transformers
faiss-cpu
easyocr
paddleocr
opencv-python
openai-whisper
sympy
python-dotenv
pydantic
numpy
pandas
google-generativeai
scikit-learn
torch
torchvision
torchaudio